<div class="col-sm-12 col-md-2">

    <div class="card">
        <div class="card-body">
            <h4>{{ trans('supportid.search') }}</h4>
            <form method="POST" action="{{ path('supportid.search') }}">

                {{ csrf_input() }}
                {{ field('code', null, 'Code Support ID', {type: 'number'}) }}
                <button class="btn btn-primary">{{ trans('search') }}</button>
            </form>
        </div>
    </div>
</div>